@tailwind base;
@tailwind components;
@tailwind utilities;
 
/**react flow section**/
.react-flow__panel a {
    display: none !important;
}
.react-flow {
    --xy-theme-selected: #f7faf5;
    --xy-theme-hover: #C5C5C5;
    --xy-theme-edge-hover: black;
    --xy-theme-color-focus: #E8E8E8;
    --xy-node-border-default: 1px solid #EDEDED;
    --xy-node-boxshadow-default: 
      0px 3.54px 4.55px 0px #00000005, 
      0px 3.54px 4.55px 0px #0000000D, 
      0px 0.51px 1.01px 0px #0000001A;
    --xy-node-border-radius-default: 8px;
    --xy-handle-background-color-default: #ffffff;
    --xy-handle-border-color-default: #AAAAAA;
    --xy-edge-label-color-default: #505050;
}

/* Customizing Default Theming */
.react-flow__node {
    box-shadow: var(--xy-node-boxshadow-default);
    border-radius: var(--xy-node-border-radius-default);
    background-color: #ffffff;
    padding: 10px;
    font-size: 12px;
    border: var(--xy-node-border-default);
    color: var(--xy-node-color, var(--xy-node-color-default));
}
.react-flow__node.selectable:focus {
    box-shadow: 0px 0px 0px 4px var(--xy-theme-color-focus);
    border-color: #d9d9d9;
}
.react-flow__node.selectable:focus:active {
    box-shadow: var(--xy-node-boxshadow-default);
}
.react-flow__node.selectable:hover, 
.react-flow__node.draggable:hover {
    border-color: var(--xy-theme-hover);
}
.react-flow__node.selectable.selected {
    border-color: var(--xy-theme-selected);
    box-shadow: var(--xy-node-boxshadow-default);
}
.react-flow__node-group {
    background-color: rgba(207, 182, 255, 0.4);
    border-color: #9E86ED;
}
.react-flow__edge.selectable:hover .react-flow__edge-path,
.react-flow__edge.selectable.selected .react-flow__edge-path {
    stroke: var(--xy-theme-edge-hover);
}
.react-flow__handle {
    background-color: var(--xy-handle-background-color-default);
}
.react-flow__handle.connectionindicator:hover {
    pointer-events: all;
    border-color: var(--xy-theme-edge-hover);
    background-color: white;
}
.react-flow__handle.connectionindicator:focus , 
.react-flow__handle.connectingfrom,
.react-flow__handle.connectingto {
    border-color: var(--xy-theme-edge-hover);
}

/*message section*/
.react-flow__node .border-messages-node  {
    border: 1px solid rgb(15 171 73)
}
.react-flow__node .messages-node-normal {
    background-color: rgb(221 255 234);
}

/*replay section*/
.react-flow__node .border-replay-node  {
    border: 1px solid #f069b1;
}
.react-flow__node .replay-node-normal {
    background-color: #fff3f9;
}

/*preference*/
.react-flow__node .border-preference-node  {
    border: 1px solid rgb(23 196 220);
}
.react-flow__node .preference-node-normal {
    background-color: rgb(220 251 255);
}
 
 
/**textEditor Tiptap section**/
/* Set minimum height for the content area */
.tiptap-editor-container .ProseMirror {
    min-height: 50px;  
    max-height: none;  
    height: auto;  
    overflow-y: auto;  
    padding: 10px;
    border: none;
    transition: border 0.2s ease;
}
.tiptap-editor-container:hover,
.tiptap-editor-container:focus-within,
.tiptap-editor-container .ProseMirror:focus {
    border:none;
    outline: none;
}









